section.contact {
    margin: 0 auto;
    padding-bottom: 5%;
    display: flex;
    width: 80%;

    .contact-form {
        z-index: 1;
        padding: 30px;
        font-family: 'Quicksand', sans-serif;
        background-color: var(--contact-background);
        border-radius: 0px 10px 10px 0px;
        overflow-y: scroll;
        transition: all 1s ease 0s;


        input[type=text],
        input[type=email],
        textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid var(--font-color);
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
            background-color: transparent;
        }

        .submit-btn {
            background-color: #00846a;
            color: #ffffff;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            font-size: 13px;
            cursor: pointer;
            font-family: 'Sackers Gothic Medium', sans-serif;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.1em;

            &:hover {
                background-color: #ffffff;
                color: #00846A;
            }
        }

        input::placeholder,
        textarea::placeholder {
            color: var(--font-color);
        }

        label {
            font-family: 'Sackers Gothic Medium', sans-serif;
            text-transform: lowercase;
            text-align: left;
            width: 100%;
            color: var(--font-color);
        }
    }
}

.thanks-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;

    .back-btn {
        margin-top: 3rem;
        transition: all 1s ease 0s;

        a {
            text-decoration: none;
            font-family: 'Quicksand', sans-serif;
            color: var(--font-color);
            transition: all 1s ease 0s;
        }

        svg {
            margin-right: 10px;
        }
    }

    h2 {
        font-family: 'Quicksand', sans-serif;
        padding-top: 20px;
        margin-bottom: 0;
        font-size: 3rem;
    }

    h4 {
        color: #00846A;
        font-family: 'Quicksand', sans-serif;
    }

    p {
        font-family: 'Quicksand', sans-serif;
    }

    svg {
        fill: #00846A;
        transition: all 1s ease 0s;
    }
}

.contact-background {
    border-radius: 10px 0px 0px 10px;
}


@media screen and (max-width: 480px) {
    section.contact {
        margin: 0 auto;
        padding-bottom: 5%;
        display: flex;
        width: 70%;
        flex-direction: column;

        .contact-form {
            border-radius: 0px 0px 10px 10px;
        }

        .contact-background {
            border-radius: 10px 10px 0px 0px;
            height: 40%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 1000px) {
    section.contact {
        margin: 0 auto;
        padding-bottom: 5%;
        display: flex;
        width: 70%;
        flex-direction: column;

        .contact-form {
            border-radius: 0px 0px 10px 10px;
        }

        .contact-background {
            border-radius: 10px 10px 0px 0px;
            height: 40%;
            object-fit: cover;
        }
    }
}