footer {
    position: fixed;
    bottom: 0;

    .footer-icons {
        padding: 2rem;
        cursor: pointer;

        svg {
            cursor: pointer;
            height: 15px;
            transition: all 1s ease 0s;
            fill: var(--font-color);

            &:hover {
                fill: var(--hover-link);
            }
        }
    }

    a {
        text-decoration: none;
    }
}